body {
    padding-top: 5rem;
}

.profile-container{
    max-width: 480px;
    display: flex;
    flex-direction: column;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    line-height: 1;
    margin: 40px auto;
    padding: 0;
    background-color: white;
    box-shadow: 0 3px 5px rgb(0, 0, 0, 0.1);
    border-radius: 10px; 
    overflow: hidden;   
}

.profile-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(84, 206, 84);
    padding: 15px;
    margin-bottom: 20px;
}

img{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    object-fit: cover;
    object-position: 50% 30%;
    margin-top: 15px;
    margin-bottom: 15px;    
}

.profile-body{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    padding: 10px;
}

.profile-body p{
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
}

.stats{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 100px;
    margin-bottom: 15px;
}

.btn{
    display: block;
    margin: 20px auto; 
    background-color: rgb(114, 114, 216);
    color: white;
    cursor: pointer;
    border: none;
    padding: 7px 50px;    
}

.btn:hover{
    background-color: rgb(202, 198, 198);
}