{% extends "base.html" %}

{% block main %}
 <div class="profile-container">
    <header class="profile-header">
        <img src="{{url_for('static', filename='profile.jpg') }}" alt="Profile Picture" />
        <h1>Marissa O'Meally</h1>
        <p class="username">@rissa</p>
        <p class="location">Kingston, Jamaica</p>
        <p class="date-join">Joined {{date_joined}} </p>
    </header>

    <div class="profile-body">
        <p>I am a smart and talented young woman who is constantly learning new tools and technologies to grow 
            and enhance my skills. I am particularly passionate about the creative aspects of development. </p>
    </div>

    <div class="stats">
        <div>
            <h3>10</h3>
            <p>Posts</p>
        </div>
        <div>
            <h3>7</h3>
            <p>Following</p>
        </div>
        <div>
            <h3>300</h3>
            <p>Followers</p>
        </div>
    </div>
    
    <button class="btn">Follow</button>

 </div>    
{% endblock %}


        
    
      
       